# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
.env.*

# Node
node_modules/
dist/
npm-debug.log
.env.local

# Editors / OS
.vscode/
*.swp
.DS_Store

# Docker
docker-compose.override.yml

# Codespaces/devcontainer
.devcontainer/
